Repository supakeen/pinnwand: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pytest, flake8, mypy

black:
  name: black
  language: system
  entry: poetry run black

pytest:
  name: pytest
  language: system
  entry: poetry run pytest -q

flake8:
  name: flake8
  language: system
  entry: flake8

mypy:
  name: mypy
  language: system
  entry: mypy

Update poetry.lock file.
  poetry.lock
Due: none

Change up import ordering to close #46.
  pinnwand/command.py
Due: black, pytest, flake8, mypy

Update pre-commit once more.
  .pre-commit-config.yaml
Due: none

Initial work on #25.
  pinnwand/http.py
  pinnwand/page/about.rst
  pinnwand/path.py
  pinnwand/template/restructuredtextpage.html
  poetry.lock
  pyproject.toml
Due: black, pytest, flake8, mypy

Add docutils for test.
  .travis.yml
Due: none

Does this work all through poetry?
  .travis.yml
Due: none

No need for dev stuff for travis.
  .travis.yml
Due: none

Well we need dev for test.
  .travis.yml
Due: none

Replace text pages with RST pages.
  pinnwand/http.py
  pinnwand/page/about.rst
  pinnwand/page/expiry.rst
  pinnwand/page/removal.rst
  pinnwand/template/expiry.html
  pinnwand/template/removal.html
Due: black, pytest, flake8, mypy

Get footer from configuration.
  pinnwand/configuration.py
  pinnwand/http.py
  pinnwand/template/layout.html
Due: black, pytest, flake8, mypy

Make page path configurable and raise 404.
  pinnwand/configuration.py
  pinnwand/http.py
  pinnwand/path.py
Due: black, pytest, flake8, mypy

Allow pages to be configured and whitelisted.
  pinnwand/configuration.py
  pinnwand/http.py
Due: black, pytest, flake8, mypy

Example toml file, closes #50.
  pinnwand.toml-example
Due: none

Fixed overflow of text inside code div
  pinnwand/static/pinnwand.css
Due: none

Fix target.
  README.rst
Due: none

Auto scroll the code area, closes #35.
  pinnwand/static/pinnwand.css
Due: none

Add in PR I overlooked.
  pinnwand/static/pinnwand.css
Due: none

Properly fetch all text pages from the page_path.
  pinnwand/http.py
Due: black, pytest, flake8, mypy

Initial implementation of the new V1 API.
  pinnwand/http.py
Due: black, pytest, flake8, mypy

Add the initial API to the README.
  README.rst
Due: none

Initial testcases for the v1 API.
  pinnwand/http.py
  test/test_http_api.py
Due: black, pytest, flake8, mypy

Add slightly more testcases.
  test/test_http_api.py
  test/test_http_website.py
Due: black, pytest, flake8, mypy

Start documenting APIs.
  doc/autodoc.rst
  doc/configuration.rst
  doc/contributing.rst
  doc/index.rst
  doc/installation.rst
  doc/tricks.rst
  doc/usage.rst
  pinnwand/http.py
Due: black, pytest, flake8, mypy

Finish up documenting APIs.
  doc/usage.rst
Due: none

Write some sort of installation instructions.
  doc/installation.rst
Due: none

Add example service file.
  pinnwand.service-example
Due: none

Export a requirements.txt.
  requirements.txt
Due: none

Minor typo.
  doc/installation.rst
Due: none

Add IRC.
  README.rst
Due: none

Add codecov.
  .travis.yml
Due: none

Run coverage.
  .travis.yml
Due: none

Add codecov.
  README.rst
Due: none

Does this fix autodoc?
  doc/conf.py
Due: black, pytest, flake8

Document configuration.
  doc/configuration.rst
Due: none

Remove contributing page for now.
  doc/contributing.rst
  doc/index.rst
Due: none

Add a trick.
  doc/tricks.rst
Due: none

Add steck link.
  doc/tricks.rst
Due: none

Add missing link.
  doc/installation.rst
Due: none

Mention steck.
  README.rst
Due: none

Better steck preview.
  README.rst
Due: none

Path conditions:
  black: any of: \.py$
  pytest: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$, but not: ^doc/conf.py
