Repository supakeen/pinnwand: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pytest, flake8, mypy

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    - id: black
      name: black
      language: system
      entry: poetry run black
      types: [python]
    - id: pytest
      name: pytest
      language: system
      entry: poetry run pytest -q
      types: [python]
    - id: flake8
      name: flake8
      language: system
      entry: flake8
      types: [python]
    - id: mypy
      name: mypy
      language: system
      entry: mypy
      types: [python]
      exclude: ^doc/conf.py

Try out a bit of 'refinement'.
  pinnwand/static/pinnwand.css
  pinnwand/template/layout.html
Due: none

Bring the thin line back.
  pinnwand/static/pinnwand.css
Due: none

Add toml to main package dependencies
  poetry.lock
  pyproject.toml
Due: none

Update dependencies in README.
  README.rst
Due: none

Make it valid toml.
  pinnwand.toml-example
Due: none

Export requirements.txt.
  requirements.txt
Due: none

Fixed raw_url for older api. Issue #56
  pinnwand/http.py
Due: black, pytest, flake8, mypy

Add testcase to prevent bug re-appearing.
  test/test_http_api.py
Due: black, pytest, flake8, mypy

Bump deps.
  poetry.lock
  requirements.txt
Due: none

Start preparing auxiliary files for pending 1.0.0.
  CHANGELOG.rst
  doc/changelog.rst
  doc/index.rst
Due: none

Clarify example toml file.
  doc/configuration.rst
  pinnwand.toml-example
Due: none

Add preferred_lexers configuration as per #60.
  doc/configuration.rst
  pinnwand.toml-example
  pinnwand/configuration.py
  pinnwand/template/create.html
  pinnwand/template/part/lexer-select.html
Due: black, pytest, flake8, mypy

Sort lexers by human name as per #60.
  pinnwand/utility.py
Due: black, pytest, flake8, mypy

Configurable paste-help text, closes #59.
  doc/configuration.rst
  pinnwand.toml-example
  pinnwand/configuration.py
  pinnwand/template/create.html
Due: black, pytest, flake8, mypy

Add a default logo.
  README.rst
  doc/_static/logo-doc.png
  doc/_static/logo-readme.png
  doc/conf.py
  pinnwand/static/logo.png
Due: black, pytest, flake8

Looks slightly better with an extra heading.
  README.rst
Due: none

Try to style around github.
  README.rst
  doc/_static/logo-readme.png
Due: none

Re-do documentation logo.
  doc/_static/logo-doc.png
Due: none

Use the logo without text on the README.
  doc/_static/logo-readme.png
Due: none

Start a history blurb.
  README.rst
Due: none

Update favicon, this closes #24.
  pinnwand/static/favicon.ico
  pinnwand/static/favicon.png
  pinnwand/template/layout.html
Due: none

Document a bit more in the code.
  pinnwand/command.py
  pinnwand/http.py
  pinnwand/utility.py
Due: black, pytest, flake8, mypy

Update deps.
  poetry.lock
Due: none

Add command testcases.
  test/test_command.py
Due: black, pytest, flake8, mypy

Re-organize handlers.
  pinnwand/handler/__init__.py
  pinnwand/handler/api_curl.py
  pinnwand/handler/api_deprecated.py
  pinnwand/handler/api_v1.py
  pinnwand/handler/website.py
  pinnwand/http.py
Due: black, pytest, flake8, mypy

Turn off some things that are managed by black.
  .pylintrc
Due: none

Rewrite pages to be generic, closes #58.
  pinnwand/page/about.rst
  pinnwand/page/expiry.rst
  pinnwand/page/removal.rst
Due: none

Update dependencies.
  poetry.lock
Due: none

Pass selected lexer, closes #62.
  pinnwand/template/create.html
Due: none

Start by updating pip and setuptools in builds.
  .travis.yml
Due: none

Use better pygments line numbers to fix line number rendering.
  pinnwand/database.py
  poetry.lock
  pyproject.toml
Due: black, pytest, flake8, mypy

Allow a logo to be configured, closes #61.
  pinnwand.toml-example
  pinnwand/configuration.py
  pinnwand/handler/website.py
  pinnwand/http.py
Due: black, pytest, flake8, mypy

Update documentation with new sample file.
  doc/configuration.rst
Due: none

Use the correct name for `configuration-path`.
  doc/configuration.rst
  doc/installation.rst
  pinnwand.service-example
Due: none

Initial documentation of configuration.
  doc/configuration.rst
Due: none

Initial favicon, needs transparency.
  doc/conf.py
Due: black, pytest, flake8

Regenerate poetry.lock file.
  poetry.lock
Due: none

List new dependency.
  .travis.yml
  README.rst
Due: none

Bump deps.
  poetry.lock
Due: none

Turn actions into buttons, closes #44.
  pinnwand/static/pinnwand.css
  pinnwand/static/pinnwand.js
  pinnwand/template/create.html
Due: none
