Repository supakeen/pinnwand: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pytest, flake8, mypy

black:
  name: black
  language: system
  entry: poetry run black

pytest:
  name: pytest
  language: system
  entry: poetry run pytest -q

flake8:
  name: flake8
  language: system
  entry: flake8

mypy:
  name: mypy
  language: system
  entry: mypy

Version bump.
  poetry.lock
Due: none

Addition of pygments-better-html stylesheet.
  pinnwand/static/pygments.css
Due: none

Squash forgotten event handler.
  pinnwand/static/pinnwand.js
Due: none

Right align line numbers.
  pinnwand/static/pygments.css
Due: none

Bump changelog.
  CHANGELOG.rst
Due: none

Add a button to toggle word wrap, closes #51.
  pinnwand/static/pinnwand.css
  pinnwand/static/pinnwand.js
  pinnwand/static/pygments.css
  pinnwand/template/show.html
Due: none

Add the PR for #51 to the CHANGELOG.
  CHANGELOG.rst
Due: none

Bump deps.
  poetry.lock
Due: none

Versioneer is no longer used and extend-ignore is preferred.
  .flake8
Due: none

Ignore doc/conf.py instead of using noqa.
  .pre-commit-config.yaml
  doc/conf.py
Due: black, pytest, flake8

Reformat and update pre-commit to exclude tests.
  .pre-commit-config.yaml
  pinnwand/http.py
Due: black, pytest, flake8, mypy

Fix mypy warning.
  pinnwand/handler/website.py
Due: black, pytest, flake8, mypy

Bump versions, closes #67.
  CHANGELOG.rst
  poetry.lock
Due: none

Use the correct heading.
  CHANGELOG.rst
Due: none

Auto-expire pastes, closes #63.
  CHANGELOG.rst
  pinnwand/handler/api_deprecated.py
  pinnwand/handler/website.py
Due: black, pytest, flake8, mypy

Update changelog to refer to issue.
  CHANGELOG.rst
Due: none

Update dependencies.
  poetry.lock
  requirements.txt
Due: none

Bump dependencies.
  poetry.lock
Due: none

Update deps.
  poetry.lock
Due: none

Add test related to #68.
  test/test_http_api.py
Due: black, pytest, flake8, mypy

Fix up deprecated API handlers for #68.
  pinnwand/handler/api_deprecated.py
  test/test_http_api.py
Due: black, pytest, flake8, mypy

Fix #68 for old-style Create handler.
  pinnwand/handler/website.py
Due: black, pytest, flake8, mypy

Prevent new-style website from stripping spaces, #68.
  pinnwand/handler/website.py
Due: black, pytest, flake8, mypy

Fix up curl endpoint for #68.
  pinnwand/handler/api_curl.py
  test/test_http_curl.py
Due: black, pytest, flake8, mypy

Update CHANGELOG.
  CHANGELOG.rst
Due: none

Prep for release of 1.0.2
  CHANGELOG.rst
Due: none

Provide partial filename in download, closes #49.
  CHANGELOG.rst
  pinnwand/handler/website.py
  pinnwand/utility.py
Due: black, pytest, flake8, mypy

Fix heading in CHANGELOG.
  CHANGELOG.rst
Due: none

Provide a button to invert color schemes, closes #69.
  CHANGELOG.rst
  pinnwand/static/pinnwand.css
  pinnwand/static/pinnwand.js
  pinnwand/template/layout.html
Due: none

The utility function for slugs is unique over both.
  pinnwand/handler/website.py
Due: black, pytest, flake8, mypy

Set first file slug to paste slug, closes #64.
  CHANGELOG.rst
  pinnwand/handler/api_curl.py
  pinnwand/handler/api_deprecated.py
  pinnwand/handler/api_v1.py
  pinnwand/handler/website.py
Due: black, pytest, flake8, mypy

Fix a class that fell off.
  pinnwand/static/pygments.css
Due: none

Allow postfixed URIs, closes #72.
  CHANGELOG.rst
  pinnwand/http.py
Due: black, pytest, flake8, mypy

Consolidate stylesheets into one file.
  CHANGELOG.rst
  pinnwand/static/pinnwand.css
  pinnwand/static/pygments.css
  pinnwand/template/layout.html
Due: none

In-between non-wrking commit.
  pinnwand/static/pinnwand.css
Due: none

More colors.
  pinnwand/static/pinnwand.css
Due: none

Close #71, show correct colors.
  pinnwand/static/pinnwand.css
Due: none

Set release date.
  CHANGELOG.rst
Due: none

Setup a password branch.
  CHANGELOG.rst
  pinnwand/database.py
Due: black, pytest, flake8, mypy

Path conditions:
  black: any of: \.py$
  pytest: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$, but not: ^doc/conf.py
